*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding: 15px;
    position: sticky;
    top: 0;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-bar a:hover{
    color: green;
    text-decoration: underline;
}
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 img{
    width: 100%;
}
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2 img{
    width: 100%;
}
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3 img{
    width: 100%;
}
.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 img{
    width: 100%;
}
.sec6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec6 img{
    width: 100%;
}
.sec7{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec7 img{
    width: 100%;
}
.sec8{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec8 img{
    width: 100%;
}
.sec5{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25AA10;
}
.playstore{
    width: 200px;
}
.play-box{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:450px) and (min-width:250px){
    .nav-bar a{
        font-size: 9px;
    }
    .nav-bar{
        padding: 5px;
    }
    .playstore{
        width: 50px;
    }
    .sec5{
        height: 50px;
    }
}